.Frame {
  border: solid #5c5c5c 1px;
  outline: solid black 1rem;

  background-color: black;

  filter: drop-shadow(0px 1rem 1rem #5c5c5c);

  position: relative;
}

@media (orientation: landscape) {
  .Frame {
    height: 50vh;
    width: 50vh;
  }
}

@media (orientation: portrait) {
  .Frame {
    height: 50vw;
    width: 50vw;
  }
}
