.Frame {
  border: solid 1px #5c5c5c;

  position: relative;
}

@media (orientation: landscape) {
  .Frame {
    height: 50vh;
    width: 50vh;
  }
}

@media (orientation: portrait) {
  .Frame {
    height: 50vw;
    width: 50vw;
  }
}
