.App {
  height: 100vh;
  width: 100vw;

  padding: 2rem;
}

.text {
  text-align: justify;
  aspect-ratio: 1 / 1;
  width: calc(50% - 4rem);
  margin: 2rem;
  font-family: monospace;
  text-transform: uppercase;
  overflow: hidden;
  position: relative;
}

.text .inner {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.text span {
  word-wrap: break-word; /* Allow long words to break */
  overflow-wrap: break-word;
}

@media (orientation: landscape) {
  .text {
    height: calc(50vh - 4rem);
    width: calc(50vh - 4rem);
  }
}

@media (orientation: portrait) {
  .text {
    height: calc(50vw - 4rem);
    width: calc(50vw - 4rem);
  }
}
