.Debug {
    background-color: #969696;
    color: black;
  
    padding: 1rem;
  
    position: fixed;
    top: 0;
    right: 0;

    td {
      &:first-of-type {
        text-align: left;
      }

      &:last-of-type {
        text-align: right;
      }
    }
  }